body {
	margin-top: 70px;
	background-image: url(img/wavegrid.png);
}

.rc {
	font-family: "Arial";
	font-weight: bold;
	font-style: italic;
}

.rc1 {
	color: #0073AE;
}

.rc2 {
	color: #F8981C;
}

.navbar-header {
	width: 100%;
	text-align: center;
}

.navbar-brand {
	float: none;
}

.shadow {
	box-shadow: 0 5px 10px #666;
}

.login-form {
	width: 800px;
	margin: 0 auto 20px;
}

.phone-container {
	width: 800px;
	margin: 0 auto;	
}
.phone-container::after {
	display: block;
	content: '';
	clear: both;
}

.phone {
	width: 280px;
	float: left;	
}

.phone .panel {
	margin-bottom: 0;
	padding-bottom: 0;
	height: 400px;
}

.phone-side {
	float: right;
	width: 500px;
}

.phone-side .panel {
	height: 400px;
}

.phone-side .panel .linesList {
    height: 300px;
    overflow: auto;
}

.phone-side .panel .lamp {
    float: right;
    margin: 4px;
}

.phone-side .panel .lamp.inactive {
    color: #CCC;
}

.phone-side .panel .lamp.active {
    color: green;
}

.hold-dialog {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 400px;
    padding: 240px 10px 0;
}

.hold-dialog .panel {
    height: auto;
    box-shadow: 0 0 10px #333;
}

.hold-dialog button {
    width: 80px;
}

.line {
    cursor: pointer;
}

.console {
	width: 800px;
	margin: 0 auto;
	position: relative;
}

.console .btn {
	position: absolute;
	top: 10px;
	right: 10px;
}

.screen {
	width: 100%;
	height: 10em;
	line-height: 100%;
	font-size: 75%;
    font-family: "Courier New", sans-serif;
	overflow: auto;
}

.dialpad a small {
	font-size: 70%;
	opacity: 0.4;
}

.screen-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    outline: 0;
    background: #000;
    opacity: 0.7;
}

.screen-cover-text {
    position: absolute;
    color: #fff;
    z-index: 1050;
    font-size: 30px;
    text-align: center;
    width: 100%;
    top: 0;
    left:0;
    padding-top: 200px;
    text-shadow: 0 2px 5px #000;
}

.screen-cover-text i {
    font-size: 100px;
}

.btn-wide {
    width: 80%;
    display: block;
    margin: 5px auto;
}